<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="CadenaConeccion" value="Data Source=(local); DATABASE=BDHUELLA_EJEMPLO;INTEGRATED SECURITY=true;packet size=4096;"/>-->
    <add key="CadenaConeccion" value="SERVER=SISTEMAS-PC; DATABASE=_MGERENCIAL;User ID=sa;Password=cuevas135;packet size=4096;" />
    <add key="CadenaConeccionBDAlertas" value="SERVER=SISTEMAS-PC; DATABASE=BDALERTASMTC;User ID=sa;Password=cuevas135;packet size=4096;" />
    <add key="CadenaConeccionBDAlertas1" value="SERVER=192.168.1.79; DATABASE=BDALERTASMTC;User ID=sa;Password=transportes*1234;packet size=4096;" />
    <add key="CadenaConeccionSoporte" value="SERVER=192.168.1.33; DATABASE=SoporteTecnico; Persist Security Info=True; User ID=sa;Password=cuevas135;packet size=4096;" />
    <add key="CadenaConeccionSoporteW" value="SERVER=SQL8002.site4now.net; DATABASE=db_a883da_bdsoportetecnico;           Persist Security Info=True; User ID=db_a883da_bdsoportetecnico_admin;Password=transportes*1234;packet size=4096;" />
    <!--<add key="CadenaConeccion3" value="SERVER=SQL8001.site4now.net; DATABASE=db_a85114_dbmascotas;User ID=db_a85114_dbmascotas_admin;Password=cuevas135;packet size=4096;"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSServiciosHRSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSServiciosHRSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wshr.mtc.gob.pe/WSServiciosHR.asmx" binding="basicHttpBinding" bindingConfiguration="WSServiciosHRSoap" contract="ServiceReference2.WSServiciosHRSoap" name="WSServiciosHRSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>