<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="SpreadsheetLight" version="3.4.9" targetFramework="net48" />
  <package id="SqlTableDependency" version="8.5.8" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.SqlClient" version="4.3.0" targetFramework="net46" />
</packages>